# VIM
.*.swo
.*.swp

tags

# NetBeans
nbproject

# CVS
CVS
.cvsignore

# TextMate
.#*

# PHP Storm, other java IDE's
.idea

# OS X
.DS_Store
._*

# Windows
Thumbs.db

# Node
node_modules
npm-debug.log